<div class="m-2">
  Guesses:
  <%= guesses %>
  | Misses:
  <%= misses %>
</div>
<button 
  class="m-2 bg-blue-500 hover:bg-blue-700 font-bold py-1 px-2 rounded-xl shadow-lg"
  hx-get="/public/game.html" hx-target="#random-word" hx-swap="outerHTML">
  Next
</button>
